.repo-name {
  font-weight: bold;
  cursor:pointer;
  color:blue;
  text-decoration:underline;
}

.repo-name:hover {
     text-decoration:none;
     text-shadow: 1px 1px 1px #555;
}

#username-header {
  font-weight: bold;
  text-align: center;
}

.error-message{
  margin: auto;
  width: 55%;
  padding: 10px;
}

.header {
  text-align: center;
  display: inline;
}

.user-input {
  display: inline-block;
  float: right;
}


.container {
  background-color: white;
  opacity: .8;
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
